@charset "utf-8";
/* CSS Document */

html {
  box-sizing: border-box;
}

/* Style for polyfill for :focus-visible  */
*:focus:not(.focus-visible) {
  outline: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  min-width: 290px;
	margin: 0;
	position:relative;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
  display: flex;
  justify-items: center;
  width: 100%;
  height: 80px;
  padding: 10px;
  background-color: #252831;
  text-align:center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 5px;
  text-transform: uppercase;
}

#breadcrumb {
    padding: 15px 30px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: calc(100vh - 80px);
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: auto;
  padding: 15px;
  background-color: #3397DB;
  align-items: center;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 10px auto;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px auto;
  padding: 0 10px;
  width: 100%;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0 auto;
  padding: 10px 15px 30px;
  text-align: center;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px auto;
  min-height: 360px;
  padding: 0 30px 25px;
  text-align: left;
  width: 100%;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
  min-width: 225px;
  height: auto;
}

#restaurants-list {
  max-width: 360px;
  margin: 0 auto;
}

#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 40vh;
  margin-top: 125px;
  width: 100vw;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
  z-index: 900;
}

.inside #footer {
  width: 100vw;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 15pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 15px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
	width: 100%;
}

#restaurant-address {
  font-size: 11pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 10px 20px;
  width: 100vw;
  max-width: 400px;
  min-width: 320px;
  margin: 0 auto;
}

#reviews-container {
  padding-bottom: 80px;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 15pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 auto 20px;
  overflow: hidden;
  padding: 0 20px 10px;
  position: relative;
  width: 100%;
}

#reviews-list li p {
  margin: 15px 0 10px;
}

#restaurant-hours td {
  color: #666;
}

/* ====================== Tablet-ready ====================== */
@media screen and (min-width: 460px) and (max-width: 1199px) {

  /* ====================== Navigation ====================== */
  nav h1 a {
    font-size: 16pt;
    letter-spacing: 15px;
  }

  /* ====================== Map ====================== */
  #map {
    height: 400px;
  }

  /* ====================== Restaurant Filtering ====================== */

  .filter-options {
    display: grid;
    grid-template-columns: max-content repeat(2, 2fr);
    grid-column-gap: 30px;
    justify-items: center;
    padding: 10px 10%;
  }

  .filter-options h2 {
    padding: 0 40px 0 0;
    font-size: 13pt;
    text-align: center;
  }

  /* ====================== Restaurant Listing ====================== */
  #restaurants-list {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  #restaurants-list li {
    max-width: 330px;
  }

  #restaurants-list li h1 {
    font-size: 12pt;
  }

  /* ====================== Footer ====================== */
  #footer {
    font-size: 8pt;
  }
}

@media screen and (min-width: 650px) and (max-width: 1199px) {
  /* ====================== Restaurant Details ====================== */
  .inside td,
  .inside th,
  .inside p {
    font-size: 11pt;
  }

  #breadcrumb {
    padding: 15px 30px;
  }

  #breadcrumb li {
    font-size: 13pt;
  }

  .inside #maincontent {
    width: 100%;
    margin: 125px 0 0;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 350px auto;
    grid-gap: 15px;
    grid-template-areas:
                        "map  review"
                        "info review";
  }

  .inside #map {
    height: 350px;
  }

  .inside #map-container {
    margin: 0;
    grid-area: map;
    width: 100%;
    height: auto;
    padding: 0;
  }

  .inside #restaurant-container {
    grid-area: info;
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
    border: none;
  }

  .inside #reviews-container {
    grid-area: review;
    width: 100%;
    max-width: 100%;
    padding: 10px 30px 20px;
    border: none;
  }

  .inside #reviews-container h2 {
    font-size: 16pt;
  }

  .inside #reviews-list li {
    padding: 10px 30px 20px;
  }
}

/* ====================== Desktop-ready ====================== */
@media screen and (min-width: 1200px) {
  body {
    width: 1200px;
    margin: 0 auto;
  }

  /* ====================== Navigation ====================== */
  nav h1 a {
    font-size: 16pt;
    letter-spacing: 15px;
  }

  /* ====================== Map ====================== */
  #map {
    height: 400px;
  }

  /* ====================== Restaurant Filtering ====================== */
  .filter-options {
    display: grid;
    grid-template-columns: 1fr repeat(2, 2fr);
    justify-items: center;
    padding: 10px 10%;
  }

  .filter-options h2 {
    margin: 0;
    padding: 0;
    font-size: 16pt;
  }

  .filter-options select {
    width: 300px;
    font-size: 12pt;
  }

  /* ====================== Restaurant Listing ====================== */
  #restaurants-list {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    padding: 30px;
  }

  /* ====================== Footer ====================== */
  #footer {
    font-size: 10pt;
  }

  /* ====================== Restaurant Details ====================== */
  .inside td,
  .inside th,
  .inside p{
    font-size: 11pt;
  }

  .inside header,
  .inside nav,
  .inside #footer {
    width: 1200px;
  }

  #breadcrumb {
    padding: 15px 30px;
  }

  #breadcrumb li {
    font-size: 13pt;
  }

  .inside #maincontent {
    width: 100%;
    margin: 125px 0 0;
    display: grid;
    grid-template-columns: minmax(450px, 1fr) 2fr;
    grid-template-rows: 350px auto;
    grid-gap: 30px;
    grid-template-areas:
                        "map  review"
                        "info review";
  }

  .inside #map-container {
    margin: 0;
    grid-area: map;
    width: 100%;
    height: 350px;
    margin: 0;
    padding: 0;
  }

  .inside #map {
    height: 100%;
  }

  .inside #restaurant-container {
    grid-area: info;
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
    border: none;
  }

  .inside #reviews-container {
    grid-area: review;
    width: 100%;
    max-width: 100%;
    padding: 10px 50px 30px 20px;
    border: none;
  }

  .inside #reviews-container h2 {
    font-size: 16pt;
  }

  .inside #reviews-list li {
    padding: 10px 30px 20px;
  }
}
